@model IEnumerable<Rauan.DbData.Banner>

@{
    ViewData["Title"] = "Banners";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Баннеры</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Фото баннера
            </th>
            <th>
                Номерация
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.Url" style="height:100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td> 
            <td>
                @Html.ActionLink("Редактировать", "EditBanner", new {  Id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
