
@model IEnumerable<Rauan.DbData.Category>
@{
    ViewData["Title"] = "CatList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<a href="/Admin/AddCategory" class="btn btn-warning">Добавить новую категорию</a>


<h2>Категорий</h2>

<table class="table table-bordered">
    <tr style="color:white!important; background-color: dodgerblue">
        <td style="color:white!important;">Название</td>
        <td style="color:white!important;">Раздел Под Категория</td>
        <td style="color:white!important;">Настройки</td>
    </tr>

    <tbody>
        @foreach(var d in Model)
        {
            <tr>
                <td>@d.Name</td>
                <td><a href="/Admin/PodCatList/@d.Id">Под Категрия</a></td>
                <td>
                    <a href="/Admin/EditCategory/@d.Id" class="btn btn-default">Редактировать</a>
                    |
                    <a class="btn btn-danger" href="/Admin/DeleteCategory/@d.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>