@model Rauan.DbData.Banner

@{
    ViewData["Title"] = "EditBanner";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div>
    <form asp-action="EditBanner" asp-controller="Admin" enctype="multipart/form-data">
        <h4>Редактировать Баннер №: @Html.DisplayFor(model => model.Number)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd style="display:none;">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                Фото баннера
            </dt>
            <dd>
                <input type="file" name="banner" />
                <br />
                <img src="@Model.Url" style="height:150px;" />
            </dd>

        </dl>

        <input type="submit" value="Изменить" class="btn btn-success"/>
    </form>
    
</div>


<dd style="display:none;">
    @Html.DisplayFor(model => model.Url)
    
</dd>
